<!DOCTYPE html>
<html lang="es">
	
	<style>
		
body {
    font-family: 'Calibri';
    background-color: #f0f0f0;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .container {
    width: 80%;
    margin: 0 auto; 
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; 
    margin-bottom: 50px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: 30%;
  }
  
  .titulo {
    background-color: #0c2074;
    color: white;
  }

  .ip{
    background-color: #a2abc6;
    font-weight: bold;
  }
  
  .encabezado {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #0c2074;
    color: white;
  }
  
	</style>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ejemplo de Tabla HTML con Encabezado Largo</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<!-- <link rel="stylesheet" href="/styles/style.css"> !-->
</head>

<body>

	<div class="container">
		<form method="post" th:action="@{/home/save}" th:object="${componentes}">
			
			<h2 th:text="*{componente}"></h2>
			
			<input type="hidden" th:field="*{id}" value="${id}">
			
			<table>
				<thead>
					<tr>
						<th class="encabezado" colspan="3">SET DE PROPIEDADES</th>
					</tr>
					<tr>
						<th class="titulo">Identificación del parámetro</th>
						<th class="titulo">Tipo</th>
						<th class="titulo">Valor</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="encabezado" colspan="3">01_DAI_Identificación</th>
					</tr>
					<tr>
						<td class="ip">01_00_DAI_ID</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_01_00_id_valor}" class="form-control"/></td>

					</tr>
					<tr>
						<td class="ip">01_01_ DAI _Proyecto </td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_01_01_proyecto_valor}" class="form-control"/></td></td>
					</tr>
					<tr>
						<td class="ip">01_02_DAI_Localizador</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_01_02_localizador_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">01_03_DAI_Estado </td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_01_03_estado_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">01_04_DAI_Clasificación</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_01_04_clasificacion_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">01_05_DAI_Tipología</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_01_05_tipologia_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">01_06_DAI_Disciplina</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_01_06_disciplina_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">01_07_DAI_Subdisciplina</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_01_07_subdisciplina_valor}" class="form-control"/></td>
					</tr>

					<tr>
						<td class="ip">01_08_DAI_Material</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_01_08_material_valor}" class="form-control"/></td>
					</tr>
					<div id="identificacion"></div>
					<tr>
						<th class="encabezado" colspan="3">02_DAI_Cantidades</th>
					</tr>
					<tr>
						<td class="ip">02_01_DAI_Unidad</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_02_01_unidad_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">02_02_DAI_Longitud</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_02_02_longitud_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">02_03_DAI_Espesor</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_02_03_espesor_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">02_04_DAI_Area</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_02_04_area_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">02_05_DAI_Volumen</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_02_05_volumen_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<th class="encabezado" colspan="3">03_DAI_Proyectos</th>
					</tr>
					<tr>
						<td class="ip">03_01_DAI_Fase Obra</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_03_01_faseobra_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">03_02_DAI_Planos</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_03_02_plano_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">03_03_DAI_PPTP</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_03_03_pptp_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">03_04_01_DAI_Ud Medición 01</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_03_04_01_udmedicion01_valor_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">03_04_02_DAI_Ud Medición 02</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_03_04_02_udmedicion02_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">03_04_03_DAI_Ud Medición 03</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_03_04_03_udmedicion03_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<th class="encabezado" colspan="3">04_DAI_Obra</th>
					</tr>
					<tr>
						<td class="ip">04_01_DAI_Controles de Calidad</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_04_01_controlesdecalidad_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">04_02_DAI_Fotografías</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_04_02_fotografias}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">04_03_DAI_Seguridad y Salud</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_04_03_seguridadysalud}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">04_04_DAI_Informes de Aprobación</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_04_04_informesdeaprobacion_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">04_05_DAI_Certificaciones</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_04_05_certificaciones_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">04_06_DAI_Planos As Built</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_04_06_planosasbuilt_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">04_07_DAI_MedioAmbiente</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_04_07_medioambiente_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<th class="encabezado" colspan="3">05_DAI_EOM </th>
					</tr>
					<tr>
						<td class="ip">05_01_01_DAI_Necesita Mantenimiento</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_05_01_01_necesitamantenimiento_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">05_01_02_DAI_Aux Mantenimiento</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_05_01_02_auxmantenimiento_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">05_02_01_DAI_Cod Explotación</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_05_02_01_codexplotacion_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">05_02_02_DAI_Aux Explotación</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_05_02_02_auxexplotacion_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">05_03_01_DAI_Cod Contable</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_05_03_01_codcontable_valor}" class="form-control"/></td>
					</tr>
					<tr>
						<td class="ip">05_03_02_DAI_AuxContable</td>
						<td class="tipo_iden"></td>
						<td class="tipo_iden"><input type="text" th:field="*{dai_05_03_02_auxcontable_valor}" class="form-control"/></td>
					</tr>
				</tbody>
			</table>

			
			<input type="submit" class="btn btn-primary" value="Save">
			<a th:href="@{/home/show}"><button type="button" class="btn btn-danger">Cancelar</button></a>
		</form>
	</div>
</body>
</html>