.container {
    display: flex;
    height: 80vh;
    width: 100vw;
    
  }

  .left-column  {
    flex-grow: 1; /* Ambas columnas ocuparán el mismo espacio */
    width: 70%;
    background-color: aqua;
  }

  .right-column {
    flex-grow: 1; /* Ambas columnas ocuparán el mismo espacio */
    width: 30%;
    background-color: aqua;
  }

  .box1 {
    width: 100%;
    height: 50%;
    background-color: #ccc;
    border: solid black 1px;
    display: flex;
    align-items: center; /* Centrar verticalmente */
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 30px;
  }

  .box2 {
    width: 100%;
    height: 50%;
    background-color: #ccc;
    border: solid black 1px;
    display: flex;
    align-items: center; /* Centrar verticalmente */
    flex-direction: column;
    padding-top: 30px;
    box-sizing: border-box;
  }

  .box-right {
    margin: auto;
    width: 90%;
    height: 100%;
    background-color: #ccc;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }

  #navigationButtons {
    margin-top: 30px;
  }

  .lista-botones{
      border: #2c2b2b solid 1px;
  }

  #navigationButtons button{
    background-color: #ffffff;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
  }

table {
    border-collapse: collapse;
    border: 1px rgb(184, 182, 182) solid;
    font-size: 14px;
    width: 90%;
}


.tabla-box1 tbody td:first-child {
    cursor: pointer;
  }

table tr:nth-child(even){
    background-color: #ffffff;
}

table tr:nth-child(odd){
    background-color: #f2f2f2;
}

#trtheadtabla1 {
    background-color: #ffffff;
}

.tabla-container {
    max-height: 200px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando el contenido excede la altura máxima */
    width: 90%;
}

.tabla-box2 {
    width: 100%; /* Ajusta el ancho de la tabla según sea necesario */
}

.td-componente{
    box-sizing: border-box;
    display: none;
}

#trtheadtabla1 th{
    height: 30px;
    vertical-align: middle;
}

.tabla-box1 td {
    height: 30px;
    vertical-align: middle;
    padding: 0 0 0 10px;
    cursor: default;
}


.tabla-box2 td {
    height: 30px;
    vertical-align: middle;
    width: 30%;
    padding: 0 0 0 10px;
}

td {
    border-right: #c5c1c1 solid 1px;
    font-family: "Calibri Light";
}

tr td:last-child {
    border-right: none; /* Elimina el borde a la derecha del último td de cada fila */
}

th{
    font-family: Calibri;
    font-weight: bold;
}

.tabla-box2 th {
    height: 30px;
    position: sticky;
    vertical-align: middle;
    top: 0; /* Fija el encabezado en la parte superior */
    background-color: white; /* Ajusta el color de fondo según tu diseño */
}

.tablink {
    height: 30px;
    vertical-align: middle;
    border: 1px rgb(184, 182, 182) solid;
    background-color: #ffffff;
    margin: 0;
    cursor: pointer;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
}

.boton{
  border-color: rgb(170, 165, 165);
  border-width: 1px;
  width: 30px;
  height: 30px;
}

#link {
  background-color: #4285f4;
}

.boton-upd{
  background-color: #00c851;
}

#del{
  background-color: #ff3547;
}



.selected {
  background-color: rgb(92, 142, 209);
  color: white;
}

.seleccionadoTabla1{
    border: #c82333 2px solid;
    box-sizing: border-box;
}

.boton-tab {
    cursor: pointer;
    border: 0.5px solid rgb(184, 182, 182);
    padding: 3px;
}


.buttonRegister{
    width: 35px;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc; /* bordes para el botón */
    background-color: #f0f0f0; /* color de fondo para el botón */
    cursor: pointer;
}

.img-button{
    width: 100%;
    height: 100%;
}

.lista-tabla1 {
    width: auto;
}

#modal {
    width: 600px;
    height: 500px;
    border: solid black 1px;
}

#modal::backdrop{
    background-color: rgba(0,0,0,.55);
}

#cerrar-modal{
    float: right;
    font-family: Calibri;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #ff3547;
    width: 100px;
    cursor: pointer;
    border: 1px solid black;
    height: 30px;
}